{% macro render_menu_item(item_name, item_url, selected_menu_item, glyphicon) %}
{% if item_name == selected_menu_item %}
    <li class='active'><a href='{{ item_url }}'>{{ item_name }}</a></li>
{% else %}
    {% if glyphicon is defined %}
        <li class='dropdown-bright'><a href='{{ item_url }}'>{{ item_name }}<span class='glyphicon {{ glyphicon }} pull-right'></span></a></li>
    {% else %}
        <li class='dropdown-bright'><a href='{{ item_url }}'>{{ item_name }}</a></li>
    {% endif %}
{% endif %}
{% endmacro %}
