<h1>Teams</h1>
<ul id='team-list'>
{% if teams %}
  {% for p_one_id, p_one_name, p_two_id, p_two_name, team_name, team_id in teams %}
      {# put the current profile's player name first in the team list #}
      {% if profile_id == p_one_id %}
        {#TODO: link to team page from here #}
        <li> {{ profile_name }} &amp; <a href='/players/{{ p_two_id }}'>{{ p_two_name }}</a> are team: <a href='/teams/{{ team_id }}'>{{ team_name }}</a></li>
      {% elif profile_id == p_two_id %}
        <li> {{ profile_name }} &amp; <a href='/players/{{ p_one_id }}'>{{ p_one_name }}</a> are team: <a href='/teams/{{ team_id }}'>{{ team_name }}</a></li>
      {% endif %}
  {% endfor %}
{% else %}
    {% if anonymous %}
        <li> {{ profile_name }} is not on any teams.
    {% else %}
        <li> {{ profile_name }} is not on any teams, why not <a href='/teams/teamup/{{ profile_id }}'>team up?</a>
    {% endif %}
{% endif %}
</ul>
