{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<div id='password-reset'>
    <h1>Enter and confirm your new password {{ player_name }}</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action='/pw_reset'>
        {{ reset_form.csrf_token }}
        {{ render_field(reset_form.password, class='form-control', placeholder='New Password') }}
        {{ render_field(reset_form.confirm_pass, class='form-control', placeholder='Confirm') }}
        <p><button type='submit' class='btn btn-default'>Reset Password</button>
    </form>
{% endblock %}
