{% extends 'base.html' %}
{% block title %} {{ profile_name }} {% endblock %}
{% block content %}
<div class='container'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            {% if my_profile %}
            <h2>You have logged {{ total_games }} games!</h2>
            {% else %}
            <h2>{{ profile_name }} has logged {{ total_games }} games!</h2>
            {% endif %}
        </div>
        <div class='panel-body'>
        <div class='row'>
            <div class='col-lg-4'
            <img src="{{ gravatar_url }}">
            </div>
            <div class='col-lg-4'>
              <h1>Stats</h1>
              <table id='win-stats' cellpadding='10' cellspacing='2' border='1'>
                <thead>
                  <tr>
                    <th>Total Wins</th>
                    <th>Blue</th>
                    <th>Red</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Offense</b></td>
                    <td><span id='bo-wins'>{{ bo_wins }}</span></td>
                    <td><span id='ro-wins'>{{ ro_wins }}</span></td>
                  </tr>
                  <tr><td><b>Defense</b></td>
                    <td><span id='bd-wins'>{{ bd_wins }}</span></td>
                    <td><span id='rd-wins'>{{ rd_wins }}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class='col-lg-4'>
            {% include '_profile_teamlist.html' %}
            {% if my_profile %}
                {% include '_invited_teamlist.html' %}
            {% endif %}
            </div>
        </div>
        <h1>Game History</h1>
        {% include '_history.html' %}
    </div>
</div>
{% endblock %}
