{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}
{% block content %}
<div id='request-reset' class='container'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h1>Enter your email address to request a password reset.</h1>
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-lg-6 col-lg-offset-3'>
                {% from "_formhelpers.html" import render_field %}
                <form method=post action='/pw_reset/request'>
                    {{ request_reset_form.csrf_token }}
                    {{ render_field(request_reset_form.email, class='form-control', placeholder='Email Address') }}
                    <p><button type='submit' class='btn btn-default'>Reset Password</button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
