{% extends 'base.html' %}
{% block title %} Teamup {% endblock %}
{% block content %}
<div id='teamup-form'>
    <h1>Aw YEAH you should team up with {{ profile_name }}</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action='/teams/teamup/{{ profile_id }}'>
        {{ teamup_form.csrf_token }}
        What you crazy kids gonna call yourselves?
        {{ render_field(teamup_form.team_name, class='form-control', placeholder='Team Name') }}
        <p><button type='submit' class='btn btn-default'>Team Up</button>
    </form>
{% endblock %}
