topLeftX=50
topLeftY=26
topLeftW=155
topLeftH=195

topRightX=1057
topRightY=0
topRightW=155
topRightH=195

bottomLeftX=46
bottomLeftY=473
bottomLeftW=155
bottomLeftH=195

bottomRightX=1093
bottomRightY=441
bottomRightW=155
bottomRightH=195

showSpeed=false
visualMode=false

streamAddress=http://127.0.0.1:8082/v.mjpg
