body {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#messages{
   position: absolute;
   top: 60px;
   right: 0px;
   width: 20%;
   z-index: 1;
}
span.alert-text{
    float: none;
    text-align: center;
}
.dropdown-inverse {
  background-color: #222222;
  border-color: #080808;
}
a.dropdown-link-inverse{
  color: #999999;
}
